<% layout('/layouts/default') %>

<h1><%- post.title %></h1>
<div style="background:#EEE;padding:5px;">
	<pre class="code"><%- post.body %></pre>
<div align="right">
<% if(post.user) { %>
Programmer: <%- post.user.username %>
<% } %>
<br />
<%- post.createdAt.toLocaleDateString() %>
</div>
</div>

<div style="clear:both;margin-top:20px;"></div>

<h4 id='ref_count'> Refactors</h4>
<hr style='margin-top:0px;'/>
<div class="answers">
<% _.each(post.comments, function(c){ %>
	<div class="answer">
		<pre class='code'><%- c.body %></pre>
		<div align="right">
			Refactored by <%= c.user.username %>
			<br/>
			<%- c.createdAt.toLocaleDateString() %>
		</div>
	</div>
	<hr />
<% }) %>
</div>

<h4>Your Refactor</h4>
<form id='answer' action="/post/<%- post._id %>" method="post" name='answer'>
<textarea id='answer_txtarea'class="writable form-control" name="body" rows="12" ></textarea>
<br />
<button class="btn btn-lg btn-primary" type="submit">Submit</button>
</form>




